---
layout: default
title: Committees
order: 5
---
    <div class="page-header">
        <h1>Committees</h1>
    </div>

    <main>
        <section class="content-section">
            <h2>Program Committee</h2>

            <div class="organizer-list">
	      {% for o in site.data.committees.progs %}
                <div class="organizer">
                    <h3><a href="{{ o.web }}" target="_blank">{{ o.name }}</a></h3>
                    <p>{{ o.affiliation }}
                </div>
	      {% endfor %}
	    </div>
        </section>

        <section class="content-section">
            <h2>Organizing Committee</h2>

            <div class="organizer-list">
	      {% for o in site.data.committees.orgs %}
                <div class="organizer">
                    <h3>{{ o.name }}</h3>
                    <p>{{ o.affiliation }}
                </div>
	      {% endfor %}
	    </div>
        </section>

        <section class="content-section">
            <h2>Contact</h2>
            <p>
                For any questions regarding the workshop, including registration, program,
                travel arrangements, or other inquiries, please do not hesitate to contact
                the organizers at the mailbox:
                <a href="mailto:magicworkshop2026@gmail.com">
                    magicworkshop2026@gmail.com
                </a>.
            </p>
        </section>
    </main>
