---
layout: default
title: Program
order: 4
---
    <div class="page-header">
        <h1>Program</h1>
    </div>

    <main>
	<section class="content-section">
            <h2>Schedule</h2>

            <div class="schedule-wrap">
                <table class="schedule">
                    <thead>
                        <tr>
                            <th>Time slot</th>
                            <th>May 5</th>
                            <th>May 6</th>
                            <th>May 7</th>
                            <th>May 8</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>9.00 - 10.40</th>
                            <td></td>
                            <td>
                                <p><strong>🎓 Invited talk</strong>
                                    <strong>Lorenz Panny</strong>: Commutative group actions from isogenies</p>
                                <p>👩🏻‍🏫 <strong>Giacomo Borin</strong>, PQarrots: Post-Quantum Action for Round RObin Threshold Schemes</p>
                                <p>👩🏻‍🏫 <strong>Michele Battagliola</strong>: LEAST: Linear Equivalence Action Threshold Signature</p>
                            </td>
                            <td>
                                <p><strong>🎓 Invited talk</strong>
                                    <strong>Violetta Weger</strong>: How hard is code equivalence really?</p>
                                <p>👩🏻‍🏫 <strong>Giuseppe D'Alconzo</strong>: Linear Code Equivalence via Plücker Coordinates</p>
                                <p>👩🏻‍🏫 <strong>Ryan Rueger</strong>, CORAL: Faster Isogeny Group Action for Post-Quantum NIKE</p>
                            </td>
                            <td>
                                <p>👩🏻‍🏫 <strong>Paola de Perthuis</strong>, Post-Quantum Anonymous Signatures from the Lattice Isomorphism Group Action</p>
                                <p>👩🏻‍🏫 <strong>Pierrick Dartois</strong>: qt-Pegasis: effective class group action on oriented curves using 4-dimensional isogenies</p>
                                <p>👩🏻‍🏫 <strong>Sina Schaffler</strong>, Completing qt_pegasis in C: Implementing norm equation and class group</p>
                                <p>👩🏻‍🏫 <strong>Etienne Piasecki</strong>, A computational framework for principally polarized abelian varieties</p>
                            </td>
                        </tr>
                        <tr>
                            <th>10.40 - 11.15</th>
                            <td></td>
                            <td>☕ Coffee break</td>
                            <td>☕ Coffee break</td>
                            <td>☕ Coffee break</td>
                        </tr>
                        <tr>
                            <th>11.15 - 12.30</th>
                            <td></td>
                            <td>
                                <p><strong>🎓 Invited talk</strong>
                                    <strong>Krijn Reijnders</strong>: From Curves To Codes (and back again)</p>
                                <p>👩🏻‍🏫 <strong>Rahmi El Mechri</strong>: Half is Enough: halving keys through optimal representation of self-orthogonal code</p>
                            </td>
                            <td>
                                <p><strong>🎓 Invited talk</strong>
                                    <strong>Yi Fu Lai Wombat</strong>: Post-Quantum Blind Signature from Standard Group Action Assumptions and More</p>
                                <p>👩🏻‍🏫 <strong>Li Quan</strong>, Sparse Random Matrices over Large Prime Fields for Data Availability Sampling: Bounds and Open Challenges</p>
                            </td>
                            <td>
                                <p>👩🏻‍🏫 <strong>Gioella Lorenzon</strong>, An active attack against the PEARL-SCALLOP group action</p>
                                <p>🔨 Working groups final report</p>
                            </td>
                        </tr>
                        <tr>
                            <th>12.30 - 14.00</th>
                            <td></td>
                            <td>🍝 Lunch</td>
                            <td>🍝 Lunch</td>
                            <td>🍝 Lunch</td>
                        </tr>
                        <tr>
                            <th>14.00 - 15.15</th>
                            <td></td>
                            <td>🔨 Working group topics presentation</td>
                            <td>🔨 Working groups</td>
                            <td>🚃 Heading to Rome</td>
                        </tr>
                        <tr>
                            <th>15.15 - 15.50</th>
                            <td></td>
                            <td>☕ Coffee break</td>
                            <td>☕ Coffee break</td>
                            <td>🚃 Heading to Rome</td>
                        </tr>
                        <tr>
                            <th>15.40 - 16.15</th>
                            <td></td>
                            <td>🔨 Working groups</td>
                            <td>⛰️ Social activity</td>
                            <td>🚃 Heading to Rome</td>
                        </tr>
                        <tr>
                            <th>16.15 - 18.00</th>
                            <td>👋 Greetings</td>
                            <td>🔨 Working groups</td>
                            <td>⛰️ Social activity</td>
                            <td>🚃 Heading to Rome</td>
                        </tr>
                        <tr>
                            <th>18.00 - 19.30</th>
                            <td>🎸🎧 Free time</td>
                            <td>🎸🎧 Free time</td>
                            <td>⛰️ Social activity</td>
                            <td>🚃 Heading to Rome</td>
                        </tr>
                        <tr>
                            <th>19.30 - 21.00</th>
                            <td>🍝 Dinner</td>
                            <td>🍝 Dinner</td>
                            <td>🍝 Dinner</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
	<div class="highlight-card excursion">
            <h2>Excursion</h2>
            <p>
            On the afternoon of <strong>Thursday, May 7th</strong>, we will have an excursion to 
            the <i> Grotte di Frasassi </i>, a cave system located close to the venue. <br>

            See <a href="https://www.frasassi.com/" target="_blank">here</a> for a short teaser
            We will go there with a private shuttle. <br>

            Both the transportation and the entrance 
            fee will be covered by the workshop sponsors.
            </p>
        </div>
    </section>

        <section class="content-section">
          <h2>Invited speakers</h2>

	  <div class="invited">
	    {% for s in site.data.speakers.invited %}
            <div class="speaker">
	      <h3><a href="{{ s.website }}"
		     target="_blank">{{ s.name }}</a></h3>
	      <h4>{{ s.affiliation }}</h4>
	      <figure><img src="{{ s.image }}" alt=""></figure>
	      <p>{{ s.title }}</p>
	    </div>
	    {% endfor %}
	  </div>
	  <br>
	  <br>
 	    {% for s in site.data.speakers.invited %}
			<h3>{{ s.name }}, <i>{{ s.title_abstract }}</i></h3>
			<p>{{ s.abstract }}</p><br>
		{% endfor %}

	</section>

    </main>
</body>
</html>
