---
layout: default
title: Program
order: 4
---
    <div class="page-header">
        <h1>Program</h1>
    </div>

    <main>
        <section class="content-section">
          <h2>Invited speakers</h2>

	  <div class="invited">
	    {% for s in site.data.speakers.invited %}
            <div class="speaker">
	      <h3><a href="{{ s.website }}"
		     target="_blank">{{ s.name }}</a></h3>
	      <h4>{{ s.affiliation }}</h4>
	      <figure><img src="{{ s.image }}" alt=""></figure>
	      <p>{{ s.title }}</p>
	    </div>
	    {% endfor %}
	  </div>
	  <br>
	  <br>
      </div>
 	    {% for s in site.data.speakers.invited %}
			<h3>{{ s.name }}, <i>{{ s.title_abstract }}</i></h3>
			<p>{{ s.abstract }}</p><br>
		{% endfor %}
	  </div>

	</section>

	<section class="content-section">
            <h2>Schedule</h2>

            <p class="tbd">
                The program is currently being finalized. <br><br>
                The workshop will start on the evening of Tuesday, 5th of May 
                and continue through the morning of Friday the 8th, leaving Friday afternoon free to travel to Rome
                for the Eurocrypt affiliated events.<br><br>
		An excursion will be organized on the afternoon of Thursday, May 7th.<br></br>
                Please check back later for the detailed schedule.
            </p>
    </section>

	<section class="content-section">
            <h2>Excursion</h2>
            <p class="tbd">
            On the afternoon of <strong>Thursday, May 7th</strong>, we will have an excursion to 
            the <i> Grotte di Frasassi </i>, a cave system located close to the venue. <br>

            See <a href="https://www.frasassi.com/" target="_blank">here</a> for a short teaser
            We will go there with a private shuttle. <br>

            Both the transportation and the entrance 
            fee will be covered by the workshop sponsors.
            </p>
        </section>
    </main>
</body>
</html>
