<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaGIC 2026 - Marche Workshop on Group Actions in Cryptography</title>
    <meta name="description" content="A workshop dedicated to the study of cryptographic group actions, a rapidly evolving area at the intersection of algebraic geometry, number theory, and post-quantum cryptography. The workshop will bring together researchers working in isogeny-based and code-based cryptography, spanning theoretical foundations and practical applications of group-action techniques.">
    <meta property="og:image" content="assets/colline.jpg">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">MaGIC 2026</div>
            <ul>
	      {% assign pp = site.pages | sort: "order" %}
	      {% for p in pp %}
	      <li><a href="{{ p.url }}"
		     {% if p == page %} class="active" {% endif %}
		     >{{ p.title }}</a></li>
	      {% endfor %}
            </ul>
        </nav>
    </header>

    {{ content }}

    <footer>
      <p>MaGIC 2026 — Marche<sup><span class="phonetic">/ˈmar.kɛ/</span></sup> Workshop on Group Actions in Cryptography</p>
        <p class="photo-credit">Header photo: <a href="https://www.flickr.com/photos/53191561@N03/19186240165/in/photostream/" target="_blank" rel="noopener">Flickr</a></p>
    </footer>
</body>
</html>
